<?xml version="1.0"?>
<robot name="kinect" xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- Add Kinect sensor to Husky -->
   <xacro:include filename="$(find common_sensors)/urdf/sensors/kinect.urdf.xacro" />
   <xacro:sensor_kinect parent="top_plate_link" />

   <!-- Add Intel Realsense to Jaco -->
   <xacro:include filename="$(find husky_description)/urdf/accessories/intel_realsense.urdf.xacro" />
   <xacro:intel_realsense_mount prefix="camera" topic="realsense" parent_link="jaco_6_hand_limb" />

</robot>
